.InfoBox {
    text-align: center;
}

.cardContainer {
    display: flex;
    justify-content: center;
}

.mainCard {
    display: flex;
    justify-content: center;
    margin-left: 600px;
    margin-right: 600px;
}


